<h1>Costume Store</h1>
<p>Welcome to our store!</p>
<p>Address of Order: @ViewData["OrderAddress"]</p>
<p>Pieces of Candy: @ViewData["CandyNumPieces"]</p>
<p>Candy Type: @ViewData["CandyType"]</p>
<p>Checkout Amount: $@ViewData["OrderTotal"]</p>