@{
  // This is server(C#) comment
  string Today = DateTime.Now.ToString("yyy-mm-dd");
  string CourseCode = "5125";
  }
<!-- This is a client(html) comment -->
<h1>Costume Store @CourseCode</h1>
<p>Welcome to our store! The date is @Today</p>

@{
  string classname = "blue";
  string hexcode = "0000FF";
}

<style>
    .red {background: red;}
    .blue {background: #@hexcode;}
</style>

<div class="@classname" style="width:100px; height: 100px;">&nbsp;</div>

@{
  string StorePath = "/Costume/Store";
}

<a href="@StorePath">Order a Costume</a>
